@page
@model AlexPageModel
@{
    ViewData["Title"] = "AlexPage";
}

<h1>AlexPage</h1>

<p>You must be a genius to make it this far :P</p>

<ul>
    <li><a href="https://github.com/acohrs">Click here for Github</a></li>
    <li><a href="https://www.linkedin.com/in/alex-cohrs-00880247/">Click here for linkedin</a></li>
</ul>

<input />

<div class="col-lg-1">
    <form asp-action="fillText" method="post">
        <button class="btn btn-default" id="button1">Click me to have sth happen</button>
    </form>    
</div>
<text id="text1">@Model.</text>

